.chatsContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    scroll-snap-type: y mandatory;
  }

ul {
    height: calc(100vh - 70px);
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}